* {
  box-sizing: border-box;
}

body {
  margin-top: 10rem;
  background-color: rgb(252, 253, 254);
  font-family: $font-stack;
  height: 100%;
}

button {
  padding: 0.5rem;
  min-width: 5rem;
  min-height: 2rem;
  border-radius: $border-radius;
  margin-left: 0.4rem;
  box-shadow: $shadow;

  &.button--primary {
    color: $color-white;
    background-color: $color-blue;
    background-image: $color-blue-gradient;
    border: 1px solid $color-blue;
  }

  &.button--secondary {
    color: $color-black;
    background-color: white;
  }
}

small {
  @include type-level-small;
}

ul {
  list-style-type: none;
}

// change <li> bullets to en dashes
ul > li:before {
  content: '–';
  position: absolute;
  margin-left: -1.1em;
}

th {
  text-align: left;
}

a {
  text-decoration: none;
  color: #000;
  // Insert an SVG icon after external links
  // &[target='_blank']:after {
  //   display: inline-block;
  //   margin-left: 0.25rem;
  //   bottom: 0.5rem;
  //   content: ' ';
  //   // background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288.824 288.824"><path d="M3.501 285.323c4.668 4.668 12.235 4.668 16.891 0L264.763 40.951v91.382c0 6.641 5.39 12.03 12.03 12.03 6.641 0 12.03-5.39 12.03-12.03V12.03c0-3.188-1.239-6.268-3.501-8.529S279.981 0 276.793 0H156.49c-6.641 0-12.03 5.39-12.03 12.03s5.39 12.03 12.03 12.03h91.382L3.501 268.432c-4.668 4.668-4.668 12.235 0 16.891z"/></svg>');
  //   background-size: cover;
  //   position: relative;
  //   width: 12pt;
  //   height: 12pt;
  // }
}

blockquote {
  white-space: pre-wrap;
  border-left: 2px solid blue;
  padding-left: 2rem;
}

cite {
  display: block;
  margin-top: 1rem;
  text-align: right;
}

img {
  display: block;
  max-width: 100%;
}

img,
video {
  box-shadow: $shadow;
  border-radius: $border-radius;
}

label {
  display: block;
  @include type-level-label;
  margin-bottom: 0.2rem;
}
input, textarea {
  display: block;
  width: 100%;
  min-height: 2rem;
  border: 1px solid grey;
  &:focus {
    border: 1px solid blue;
  }
}

input {
  border-radius: 2px;
  margin-bottom: 1rem;
}
