@mixin type-level-1 {
  font-size: 6rem;
  line-height: 6rem;
  letter-spacing: -3px;
}

@mixin type-level-2 {
  font-size: 32pt;
  line-height: 36pt;
  font-weight: 500;
  margin-top: 4rem;
}

@mixin type-level-3 {
  font-size: 24pt;
  line-height: 28pt;
  font-weight: 400;
}

@mixin type-level-4 {
  font-size: 20pt;
  line-height: 24pt;
  font-weight: 400;
}

@mixin type-level-content {
  font-size: 1.2rem;
  line-height: 2rem;
}

@mixin type-level-label {
  font-size: 18pt;
  font-weight: 500;
}

@mixin type-level-small {
  font-size: 1rem;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Masqualero, Larsseit, sans-serif;
}

h1 {
  @include type-level-1;
}

h2 {
  @include type-level-2;
}

h3 {
  @include type-level-3;
}

p,
blockquote,
li {
  @include type-level-content;
}

.content,
article {
  p,
  blockquote {
    color: $color-dark;
    font-family: Neue Montreal, 'Freight', 'Tiempos Text', sans-serif;
  }
}
