$header-width: 1200px;
$header-background: rgba(252, 253, 254, 0.9);
$max-container-width: 1920px;
$content-width: 50rem;
$border-radius: 0.5rem;
$shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px;
$font-stack: Larsseit, -apple-system, system-ui, BlinkMacSystemFont, sans-serif;

$color-dark: #000;
$color-light: #fff;
$color-blue: rgb(6, 132, 248);
$color-blue-gradient: linear-gradient(rgb(6, 132, 248), rgb(6, 122, 228));

$color-grey-400: rgb(43, 43, 43);
$font-size-3: 1rem;

$responsive-padding: 1rem;
$mobile-breakpoint: 850px;
