
// Thin
@font-face {
	font-family: "Editorial New"; 
  font-weight: 100;
	src: url("../type/EditorialNew-Variable.ttf") format("truetype"),
		url("../type/EditorialNew-Thin.otf") format("opentype"),
		url("../type/EditorialNew-Thin.woff2") format("woff2"),
		url("../type/EditorialNew-Thin.woff") format("woff");
}

// Ultralight
@font-face {
	font-family: "Editorial New";
  font-weight: 200;
	src: url("../type/EditorialNew-Ultralight.ttf") format("truetype"),
		url("../type/EditorialNew-Ultralight.otf") format("opentype"),
		url("../type/EditorialNew-Ultralight.woff2") format("woff2"),
		url("../type/EditorialNew-Ultralight.woff") format("woff");
}

// Regular
@font-face {
	font-family: "Editorial New";
  font-weight: normal;
	src: url("../type/EditorialNew-Regular.ttf") format("truetype"),
		url("../type/EditorialNew-Regular.otf") format("opentype"),
		url("../type/EditorialNew-Regular.woff2") format("woff2"),
		url("../type/EditorialNew-Regular.woff") format("woff");
}

// Bold
@font-face {
	font-family: "Editorial New";
  font-weight: 700;
	src: url("../type/EditorialNew-Bold.ttf") format("truetype"),
		url("../type/EditorialNew-Bold.otf") format("opentype"),
		url("../type/EditorialNew-Bold.woff2") format("woff2"),
		url("../type/EditorialNew-Bold.woff") format("woff");
}

// Ultrabold
@font-face {
	font-family: "Editorial New";
  font-weight:
	src: url("../type/EditorialNew-Ultrabold.ttf") format("truetype"),
		url("../type/EditorialNew-Ultrabold.otf") format("opentype"),
		url("../type/EditorialNew-Ultrabold.woff2") format("woff2"),
		url("../type/EditorialNew-Ultrabold.woff") format("woff");
}