// Thin
@font-face {
	font-family: "Editorial New"; 
  font-weight: 100;
  font-variation-settings: 'wght' 100;
	src: url("../type/EditorialNew-Variable.ttf") format("truetype");
}

// Ultralight
@font-face {
	font-family: "Editorial New"; 
  font-weight: 200;
  font-variation-settings: 'wght' 200;
	src: url("../type/EditorialNew-Variable.ttf") format("truetype");
}

// Light
@font-face {
	font-family: "Editorial New"; 
  font-weight: 300;
  font-variation-settings: 'wght' 300;
	src: url("../type/EditorialNew-Variable.ttf") format("truetype");
}

// Regular
@font-face {
	font-family: "Editorial New"; 
  font-weight: normal;
  font-variation-settings: 'wght' 400;
	src: url("../type/EditorialNew-Variable.ttf") format("truetype");
}


// Medium
@font-face {
	font-family: "Editorial New"; 
  font-weight: 500;
  font-variation-settings: 'wght' 500;
	src: url("../type/EditorialNew-Variable.ttf") format("truetype");
}

// Bold
@font-face {
	font-family: "Editorial New"; 
  font-weight: 700;
  font-variation-settings: 'wght' 700;
	src: url("../type/EditorialNew-Variable.ttf") format("truetype");
}


// Ultrabold
@font-face {
	font-family: "Editorial New"; 
  font-weight: 800;
  font-variation-settings: 'wght' 800;
	src: url("../type/EditorialNew-Variable.ttf") format("truetype");
}

// Heavy
@font-face {
	font-family: "Editorial New"; 
  font-weight: 900;
  font-variation-settings: 'wght' 900;
	src: url("../type/EditorialNew-Variable.ttf") format("truetype");
}