/*

  ###### #      ###### #    # ###### #    # #####  ####
  #      #      #      ##  ## #      ##   #   #   #
  #####  #      #####  # ## # #####  # #  #   #    ####
  #      #      #      #    # #      #  # #   #        #
  #      #      #      #    # #      #   ##   #   #    #
  ###### ###### ###### #    # ###### #    #   #    ####

*/

* {
	// Padding is included in element size
	box-sizing: border-box;
}

a {
	@include underline-link;

	// Style links to match the site
	color: $color-light;
}

article {
	h1 {
		// Center-align blog post titles
		margin-left: auto;
		margin-right: auto;
	}
}

blockquote {
	border-left: 2px solid $color-yellow;
	margin: 3rem 0;
	padding-left: 2rem;
	white-space: pre-wrap;

	@include breakpoint(small) {
		padding-left: 1rem;
	}
}

body {
	background-color: $color-dark;
	color: $color-light;
	font-family: $font-stack;
	font-weight: 300; // Default font weight (things are getting bolded/italic for some reason)
	height: 100%;
	margin-top: 10rem; // Push all content down, give the navigation some space

	@include breakpoint(small) {
		margin-top: 4rem;
	}
}

span {
	@include type-level-content;
}

nav,
button {
	font-weight: 500;
}

p {
	margin-top: 0;
}

.button--primary,
.button--secondary {
	// Nicer button styles
	border: 0;
	justify-content: center;
	min-height: 2rem;
	min-width: 5rem;
	padding: 0.5rem;
	text-align: center;
}

.button--primary {
	background-color: $color-blue;
	color: $color-light;
}

.button--secondary {
	background-color: $color-light;
	color: $color-dark;
}

hr {
	border: 1px solid $color-dark-grey;
	// Style horizontal dividers to match the site
	margin: 0 auto;
	max-width: $max-container-width;
}

small,
small span {
	@include type-level-small;
}

tr {
	// Acts as a margin for table rows
	border-spacing: 0 1rem;
}

ul {
	list-style-type: none;

	li::before {
		// change <li> bullets to en dashes
		content: "–";
		margin-left: -1.5rem;
		position: absolute;
	}
}

cite {
	display: block;
	margin-top: 1rem;
	text-align: right;
}

code {
	font-family: $font-stack-mono;
}

img {
	display: block;
	max-width: 100%;
}

main {
	margin-bottom: 3rem;
}

footer {
	margin: 3rem auto;

	small {
		display: block;
	}
}

.footer__links,
.footer__copyright {
	margin-top: 2rem;
}

label {
	@include type-level-content;

	display: block;
	margin-bottom: 0.2rem;
}

input,
textarea {
	border: 2px solid $color-dark-grey;
	display: block;
	line-height: 2em;
	margin-bottom: 1em;
	min-height: 3em;
	padding: 0.25em;
	width: 100%;

	&:focus {
		border: 2px solid $color-blue;
	}
}

.tag {
	border: 1px solid $color-blue;
	margin: 0.2rem 0.2rem 0 0;
}

.tag__text {
	margin: 0.2rem 0.2rem 0 0;
	padding: 0.4rem 0.3rem 0.3rem;
}
 
.tag__hash {
	display: inline-block;
	background: $color-blue;
	padding: 0.3rem 0.2rem 0.2rem;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: $max-container-width;
	padding: 0 2rem;

	@include breakpoint(small) {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.video-embed {
	height: 0;
	padding-bottom: 38.25%;
	position: relative;

	@include breakpoint(mobile) {
		// Makes the video take up the full width of the container
		padding-bottom: 55%;
	}
}

// Defines max-width for showcases and magic images.
.showcase,
.magic-image {
	max-width: 60rem;
}

.content {
	p,
	blockquote,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul {
		max-width: $content-width;
	}

	p,
	blockquote,
	h2,
	h3,
	h4,
	h5,
	h6,
	.video-embed,
	img,
	.project-context,
	ul {
		margin-left: auto;
		margin-right: auto;
	}

	img,
	.magic-image {
		// Need both selectors because cloudinary-vue wraps images in a div
		margin: 4rem auto;
	}

	iframe {
		height: 100%;
		left: 0;
		max-width: 100%;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

/*
    ##   #####   ####  #    # #####
   #  #  #    # #    # #    #   #
  #    # #####  #    # #    #   #
  ###### #    # #    # #    #   #
  #    # #    # #    # #    #   #
  #    # #####   ####   ####    #
*/

.resume {
	h3,
	h4 {
		margin: 0 auto;
	}

	.resume__item {
		margin: 2rem 0 3rem;
	}

	.resume__subtitle {
		@include type-level-4;
	}
}

/*

   ####  #        ##    ####   ####  ######  ####
  #    # #       #  #  #      #      #      #
  #      #      #    #  ####   ####  #####   ####
  #      #      ######      #      # #           #
  #    # #      #    # #    # #    # #      #    #
   ####  ###### #    #  ####   ####  ######  ####

*/

.previous-next {
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
	max-width: $content-width;

	label {
		@include type-level-4;
	}

	a {
		@include type-level-content;

		flex: 0 1 50%;
	}
}

.previous-next__next {
	text-align: right;
}

.showcase {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 4rem auto;

	video,
	img {
		max-height: 80vh;
		max-width: 100%;
	}

	.magic-image,
	.magic-video {
		margin: 0 auto 2rem;
	}

	.magic-image img {
		margin: 0;
	}

	> div,
	> p {
		// Select divs and paragraphs that are direct children of a Showcase (i.e. the media and content)
		max-width: 48%;
	}
}

// need both selectors because cloudinary-vue wraps images in a div with the classes
.content .overview__image,
.content .overview__image img {
	margin: 0;
	max-width: 100%;

	@include breakpoint(small) {
		// Hide the featured image on mobile
		display: none;
	}
}

.showcase--vertical {
	p {
		font-style: italic;
		max-width: $content-width;
		text-align: center;
	}

	div {
		max-width: 100%;
	}
}

.showcase--media-left {
	flex-direction: row;

	p {
		margin-right: 0;
	}
}

.showcase--media-right {
	flex-direction: row-reverse;

	p {
		margin-left: 0;
	}
}

.overview {
	margin-bottom: 5rem;
}

.overview__title {
	margin: 0 0 1rem;
}

.overview__summary {
	max-width: $content-width;
	padding-right: 2rem;

	@include breakpoint(small) {
		padding-right: 0;
	}
}

.overview__main {
	display: flex;

	@include breakpoint(small) {
		flex-direction: column;
	}

	> * {
		flex: 0 1 50%;
	}
}

.overview__context {
	display: flex;
	flex-wrap: wrap;

	@include breakpoint(small) {
		flex-direction: column;
	}

	div {
		flex: 0 1 50%;
		padding-right: 2rem;
	}
}

/*
  # #    # #####  ###### #    #
  # ##   # #    # #       #  #
  # # #  # #    # #####    ##
  # #  # # #    # #        ##
  # #   ## #    # #       #  #
  # #    # #####  ###### #    #
*/

.hero {
	@include type-level-big-content;

	margin: 3rem 0;
}

.project-flex-container {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}

.tdt-block {
	margin-bottom: 3rem;
	display: grid;
	grid-template-columns: 4fr 6fr 2fr;
	column-gap: 4rem;

	@include breakpoint(small) {
		margin-bottom: 2rem;
	}

	&:last-of-type {
		// <main> already has margin
		margin-bottom: 0;
	}

	.tdt-block__title h2 {
		margin: 0;
	}

	.tdt-block__description {
		margin: 0;
	}

}

.tdt-block__date,
.blog-post__date {
	font-weight: 600;
}

.tdt-block__tags {
	display: flex;
	flex-wrap: wrap;
}

.work {
	margin-top: 3rem;
}

/*
   ####   ####  #    # #####   ##    ####  #####
  #    # #    # ##   #   #    #  #  #    #   #
  #      #    # # #  #   #   #    # #        #
  #      #    # #  # #   #   ###### #        #
  #    # #    # #   ##   #   #    # #    #   #
   ####   ####  #    #   #   #    #  ####    #
*/

.contact-form {
	margin: auto;
	max-width: 40rem;
}

.form__button-container {
	text-align: right;
}

.blog-post {
	display: grid;
	grid-template-columns: 9fr 3fr;
	column-gap: 2rem;
	margin-bottom: 6rem;

	.blog-post__title h2 {
		margin: 0;
	}
}
	

/*

  #    # ##### # #
  #    #   #   # #
  #    #   #   # #
  #    #   #   # #
  #    #   #   # #
   ####    #   # ######

*/

// CSS debugging
// * {
// 	outline: 1px red solid !important;
// 	visibility: visible !important;
// }

.util-has-home-bar {
	// Add padding to the bottom of the navigation so it doesn't clash with iPhone home bar
	padding-bottom: 2rem;
}

.util-unstyled-list {
	padding-left: 0;
	li::before {
		content:none;
	}
}
