* {
	// Padding is included in element size
	box-sizing: border-box;
}

a {
	// Style links to match the site
	color: $color-light;
	text-decoration: $underline-link;
}

.form__button-container {
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;

	button {
		margin-left: 1rem;
	}
}

.about-container {
	display: flex;

	> * {
		flex: 1 0 50%;
	}

	p {
		margin-right: 3rem;
	}

	img {
		margin: auto;
	}
}

.hero {
	margin: 3rem 0;
	max-width: $content-width;

	p {
		@include type-level-big-content;
	}
}

.project-flex-container {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;

	a {
		text-decoration: none;
	}
}

.project-block {
	margin-bottom: 3rem;
	max-width: $content-width;

	:last-of-type {
		// <main> already has margin
		margin-bottom: 0;
	}

	.project-block__title {
		margin: 0;
	}

	.project-block__description {
		margin: 0.2rem 0;
		max-width: $content-width;
	}
}

.work {
	margin-top: 3rem;
}

.resume {
	h3,
	h4 {
		margin: 0 auto;
	}

	.resume__item {
		margin: 2rem 0 3rem;
	}

	.resume__subtitle {
		@include type-level-4;
	}
}

.contact-form {
	margin: auto;
	max-width: 40rem;
}

article {
	h1 {
		// Center-align blog post titles
		margin-left: auto;
		margin-right: auto;
	}
}

blockquote {
	border-left: 2px solid $color-yellow;
	margin: 3rem 0;
	padding-left: 2rem;
	white-space: pre-wrap;
}

body {
	background-color: $color-dark;
	color: $color-light;
	font-family: $font-stack;
	font-weight: 300; // Default font weight (things are getting bolded/italic for some reason)
	height: 100%;
	margin-top: 10rem; // Push all content down, give the navigation some space
}

nav,
button {
	font-weight: 500;
}

p {
	margin-top: 0;
}

button {
	border: 0;
	min-height: 2rem;
	min-width: 5rem;
	// Nicer button styles
	padding: 0.5rem;
}

.button--primary {
	background-color: $color-blue;
	color: $color-light;
}

.button--secondary {
	background-color: $color-light;
	color: $color-dark;
}

hr {
	border: 1px solid $color-dark-grey;
	// Style horizontal dividers to match the site
	margin: 0 auto;
	max-width: $max-container-width;
}

small {
	@include type-level-small;
}

span {
	// Use content type style as default
	@include type-level-content;
}

ul {
	list-style-type: none;

	li::before {
		// change <li> bullets to en dashes
		content: "–";
		margin-left: -1.5rem;
		position: absolute;
	}
}

cite {
	display: block;
	margin-top: 1rem;
	text-align: right;
}

code {
	font-family: $font-stack-mono;
}

img {
	display: block;
	max-width: 100%;
}

main {
	margin-bottom: 3rem;
}

footer {
	margin: 3rem auto;
}

.footer__link {
	display: block;
	margin: 0.4rem 0;
}

.footer__footnotes {
	margin-top: 3rem;

	small {
		display: block;
	}
}

label {
	@include type-level-content;

	display: block;
	margin-bottom: 0.2rem;
}

input,
textarea {
	border: 2px solid $color-dark-grey;
	display: block;
	line-height: 2em;
	margin-bottom: 1em;
	min-height: 3em;
	padding: 0.25em;
	width: 100%;

	&:focus {
		border: 2px solid $color-blue;
	}
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: $max-container-width;
}

.video-embed {
	height: 0;
	padding-bottom: 38.25%;
	position: relative;
}

// Defines max-width for showcases and magic images.
.showcase,
.magic-image {
	max-width: 60rem;
}

.posts-table {
	width: 100%;

	.posts-table__updated {
		text-align: right;
	}
}

.overview {
	margin-bottom: 5rem;
}

// need both selectors because cloudinary-vue wraps images in a div with the classes
.content .overview__image,
.content .overview__image img {
	margin: 0;
	max-width: 100%;
}

.overview__title {
	margin: 0 0 1rem;
}

.overview__summary {
	max-width: $content-width;
	padding-right: 2rem;
}

.overview__main {
	display: flex;

	> * {
		flex: 0 1 50%;
	}
}

.overview__context {
	display: flex;
	flex-wrap: nowrap;

	div {
		flex: 0 1 25%;
		padding-right: 2rem;
	}
}

.content {
	p,
	blockquote,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul {
		max-width: 50rem;
	}

	p,
	blockquote,
	h2,
	h3,
	h4,
	h5,
	h6,
	.video-embed, // TODO is this used?
	img,
	.project-context,
	ul {
		margin-left: auto;
		margin-right: auto;
	}

	img {
		margin: 4rem auto;
	}

	iframe {
		height: 100%;
		left: 0;
		max-width: 100%;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.showcase {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 4rem auto;

	.magic-image {
		margin: auto;
	}

	> div,
	> p {
		// Select divs and paragraphs that are direct children of a Showcase (i.e. the media and content)
		max-width: 48%;
	}

	video,
	img {
		max-height: 80vh;
		max-width: 100%;
	}
}

.showcase--vertical {
	p {
		max-width: $content-width;
	}

	div {
		max-width: 100%;
	}
}

.showcase--media-left {
	flex-direction: row;

	p {
		margin-right: 0;
	}
}

.showcase--media-right {
	flex-direction: row-reverse;

	p {
		margin-left: 0;
	}
}

// CSS debugging
// * {
// 	outline: 1px red solid !important;
// 	visibility: visible !important;
// }
