/*

  ###### #      ###### #    # ###### #    # #####  ####
  #      #      #      ##  ## #      ##   #   #   #
  #####  #      #####  # ## # #####  # #  #   #    ####
  #      #      #      #    # #      #  # #   #        #
  #      #      #      #    # #      #   ##   #   #    #
  ###### ###### ###### #    # ###### #    #   #    ####

*/

* {
	// Padding is included in element size
	box-sizing: border-box;
}

a {
	@include underline-link;

	@include dark() {
		color: $color-light;
	}
	@include light() {
		color: $color-dark;
	}
}

article {
	h1 {
		// Center-align blog post titles
		margin-left: auto;
		margin-right: auto;
	}
}

summary {
	@include type-level-4;
	padding: 1rem;

	&:hover,
	&:focus {
		cursor: pointer;

		@include dark() {
			background: $color-dark-grey;
		}
	}
}

blockquote {
	@include dark() {
		border-left: 2px solid $color-red;
	}
	@include light() {
		border-left: 2px solid $color-red;
	}
	margin: 6rem 0;
	padding-left: 2rem;
	white-space: pre-wrap;

	@include breakpoint(small) {
		padding-left: 1rem;
	}
}

body {
	@include dark() {
		color: $color-light;
		background-color: $color-dark;
	}
	@include light() {
		color: $color-dark;
		background-color: $color-light;
	}
	font-family: $font-stack;
	font-weight: 300; // Default font weight (things are getting bolded/italic for some reason)
	height: 100%;
	margin-top: 10rem; // Push all content down, give the navigation some space

	@include breakpoint(small) {
		margin-top: 4rem;
	}
}

body,
nav {
	transition: all 300ms;
}

span {
	@include type-level-content;
}

nav,
button {
	font-weight: 500;
}

p {
	margin-top: 0;
}

.button--primary,
.button--secondary {
	// Nicer button styles
	border: 0;
	justify-content: center;
	min-height: 2rem;
	min-width: 5rem;
	padding: 0.5rem;
	text-align: center;
}

.button--primary {
	@include light() {
		background-color: $color-blue;
		color: $color-light;
	}
	@include dark() {
		background-color: $color-blue;
		color: $color-light;
	}
}

.button--secondary {
	background-color: $color-light;
	color: $color-dark;
}

hr {
	// Style horizontal dividers to match the site
	margin: 0 auto;
	max-width: $max-container-width;
	@include dark() {
		border: 1px solid $color-dark-grey;
	}
	@include light() {
		border: 1px solid $color-light-grey;
	}
}

small,
small span {
	@include type-level-small;
}

tr {
	// Acts as a margin for table rows
	border-spacing: 0 1rem;
}

ul {
	list-style-type: none;
	li::before {
		// change <li> bullets to en dashes
		content: "–";
		margin-left: -1.5rem;
		position: absolute;
	}
}

cite {
	display: block;
	margin-top: 1rem;
	text-align: right;
}

code {
	font-family: $font-stack-mono;
}

img {
	display: block;
	max-width: 100%;

	@include light() {
		border: 1px solid $color-dark-grey;
	}
	@include dark() {
		border: 1px solid $color-light-grey;
	}
}

main {
	margin-bottom: 6rem;
}

footer {
	margin: 6rem auto;

	small {
		display: block;
	}
}

.footer__links,
.footer__copyright {
	margin-top: 2rem;
}

label {
	@include type-level-content;

	display: block;
	margin-bottom: 0.2rem;
}

input,
textarea {
	border: 2px solid $color-dark-grey;
	display: block;
	line-height: 2em;
	margin-bottom: 1em;
	min-height: 3em;
	padding: 0.25em;
	width: 100%;

	&:focus {
		border: 2px solid $color-blue;
	}
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: $max-container-width;
	padding: 0 2rem;

	@include breakpoint(small) {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.video-embed {
	height: 0;
	padding-bottom: 38.25%;
	position: relative;

	@include breakpoint(mobile) {
		// Makes the video take up the full width of the container
		padding-bottom: 55%;
	}
}

// Defines max-width for showcases and magic images.
.showcase,
.magic-image {
	max-width: 60rem;
}

.content {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;

	.content__main {
		grid-column: 2;
	}

	h1 {
		margin-bottom: 4rem;
	}

	h2 {
		margin-top: 8rem;
		margin-bottom: 2rem;
	}

	h2:first-of-type {
		margin-top: 0;
	}

	p {
		margin-bottom: 3rem;
	}

	p,
	blockquote,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul,
	summary {
		max-width: $content-width;
	}

	.overview__summary {
		max-width: unset;
	}

	p,
	blockquote {
		text-align: justify;
	}

	p,
	blockquote,
	h2,
	h3,
	h4,
	h5,
	h6,
	.video-embed,
	img,
	.project-context,
	ul,
	summary {
		margin-left: auto;
		margin-right: auto;
	}

	img,
	.magic-image {
		// Need both selectors because cloudinary-vue wraps images in a div
		margin: 4rem auto;
	}

	iframe {
		height: 100%;
		left: 0;
		max-width: 100%;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

/*
    ##   #####   ####  #    # #####
   #  #  #    # #    # #    #   #
  #    # #####  #    # #    #   #
  ###### #    # #    # #    #   #
  #    # #    # #    # #    #   #
  #    # #####   ####   ####    #
*/

.resume {
	h3,
	h4 {
		margin: 0 auto;
	}

	.resume__item {
		margin: 2rem 0 3rem;
	}

	.resume__subtitle {
		@include type-level-4;
	}
}

/*

   ####  #        ##    ####   ####  ######  ####
  #    # #       #  #  #      #      #      #
  #      #      #    #  ####   ####  #####   ####
  #      #      ######      #      # #           #
  #    # #      #    # #    # #    # #      #    #
   ####  ###### #    #  ####   ####  ######  ####

*/

.previous-next {
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
	max-width: $content-width;

	label {
		@include type-level-4;
	}

	a {
		@include type-level-content;

		flex: 0 1 50%;
	}
}

.previous-next__next {
	text-align: right;
}

.showcase {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 4rem auto;

	p {
		// Justified text doesn't look good in showcases
		text-align: left;
	}

	video,
	img {
		max-height: 80vh;
		max-width: 100%;
	}

	.magic-image,
	.magic-video {
		margin: 0 auto 2rem;
	}

	.magic-image img {
		margin: 0;
	}

	> div,
	> p {
		// Select divs and paragraphs that are direct children of a Showcase (i.e. the media and content)
		max-width: 48%;
	}
}

// need both selectors because cloudinary-vue wraps images in a div with the classes
.overview__image,
.overview__image img {
	margin: 0;
	max-width: 100%;
}

.showcase--vertical {
	p {
		font-style: italic;
		max-width: $content-width;
		text-align: center;
	}

	div {
		max-width: 100%;
	}
}

.showcase--media-left {
	flex-direction: row;

	p {
		margin-right: 0;
	}
}

.showcase--media-right {
	flex-direction: row-reverse;

	p {
		margin-left: 0;
	}
}

.overview {
	margin-bottom: 5rem;
}

.overview__title {
	margin-top: 6rem;
	margin-bottom: 1rem;
}

.overview__header {
	display: block;
	text-align: center;
	margin: auto;
}

.overview__summary {
	@include type-level-big-content;
	//max-width: $content-width;
	//padding-right: 2rem;
	text-align: justify;

	@include breakpoint(small) {
		padding-right: 0;
	}
}

.overview__context {
	display: flex;
	flex-wrap: wrap;

	justify-content: space-between;
	@include breakpoint(small) {
		flex-direction: column;
	}

	div {
		flex: 0 1 30%;
		// padding-right: 2rem;
		margin-bottom: 2rem;
	}
}

.toc {
	position: sticky;
	top: 6rem;
	align-self: start;

	ul,
	li {
		@include type-level-extra-small;

		line-height: 1.8rem;

		a {
			text-decoration: none;
			@include light {
				color: $color-mid-grey-text;
			}
			@include dark {
				color: $color-mid-grey-text;
			}
		}

		li.active > a {
			transition: all 100ms;
			font-weight: 400;
			@include light {
				color: $color-dark;
			}
			@include dark {
				color: $color-light;
			}
		}
	}

	ul {
		// @include light {
		//   border-left: 1px solid $color-light-grey;
		// }
		// @include dark {
		//   border-left: 1px solid $color-dark-grey;
		// }

		padding: 0 1rem 0 0;
		li::before {
			// Get rid of custom list styles
			content: none;
			margin-left: 0;
		}
	}
}
.toc__item-h3 {
	margin-left: 1rem;
}

/*
  # #    # #####  ###### #    #
  # ##   # #    # #       #  #
  # # #  # #    # #####    ##
  # #  # # #    # #        ##
  # #   ## #    # #       #  #
  # #    # #####  ###### #    #
*/

.hero,
.content .hero { 
	margin: 4rem 0 8rem;
  a {
    margin-right: 1rem;
  }
  a:not(:first-of-type) {
    margin-left: 1rem;
  }
}
.hero-paragraph {
  @include type-level-big-content;
  margin-bottom: 1rem;
}
.project-flex-container {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}

.tdt-block {
	margin-bottom: 5rem;
	display: grid;
	grid-template-columns: 1fr 2fr;
	column-gap: 4rem;

	@include breakpoint(small) {
		margin-bottom: 2rem;
	}

	&:last-of-type {
		// <main> already has margin
		margin-bottom: 0;
	}

	.tdt-block__title h2 {
		margin: 0;
	}

	.tdt-block__description {
		line-height: 2.1rem;
		margin: 0;
	}
}

.tdt-block__subtitle,
.overview__header {
	@include type-level-4;
	color: $color-mid-grey-text;
}

// .tdt-block__date,
// .blog-post__date {
// 	font-weight: 600;
// }

.tdt-block__tags {
	display: inline-flex;
	flex-wrap: wrap;
}

.work {
	margin-top: 6rem;
}

/*
   ####   ####  #    # #####   ##    ####  #####
  #    # #    # ##   #   #    #  #  #    #   #
  #      #    # # #  #   #   #    # #        #
  #      #    # #  # #   #   ###### #        #
  #    # #    # #   ##   #   #    # #    #   #
   ####   ####  #    #   #   #    #  ####    #
*/

.contact-form {
	margin: auto;
	max-width: 40rem;
}

.form__button-container {
	text-align: right;
}

.blog-post {
	display: grid;
	grid-template-columns: 9fr 3fr;
	column-gap: 2rem;
	margin-bottom: 6rem;

	.blog-post__title h2 {
		margin: 0;
	}
}

/*

  #    # ##### # #
  #    #   #   # #
  #    #   #   # #
  #    #   #   # #
  #    #   #   # #
   ####    #   # ######

*/

// CSS debugging
// * {
// 	outline: 1px red solid !important;
// 	visibility: visible !important;
// }

.util-has-home-bar {
	// Add padding to the bottom of the navigation so it doesn't clash with iPhone home bar
	padding-bottom: 2rem;
}

.util-unstyled-list {
	padding-left: 0;
	li::before {
		content: none;
	}
}

[id]::before {
	// Give elements with an ID some space when navigating to them via anchor links
	content: "";
	display: block;
	height: 75px;
	margin-top: -75px;
	visibility: hidden;
}

.medium-zoom-overlay {
	z-index: 2; // above nav
}

.medium-zoom-image {
	z-index: 3; // above .medium-zoom-overlay
}

.image-layout {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	.image-layout-flex {
		display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-height: 500px;
    p {
      max-height: 280px;
      overflow: hidden;
    }
   .gradient {
    position: relative; 
    bottom: 13rem; 
    width: 100%; 
    height: 12rem;
    
    @include dark() {
      background-image: linear-gradient(to bottom, transparent, $color-dark);
    }
    @include light() {
      background-image: linear-gradient(to bottom, transparent, $color-light);
    }
   }
	}
	h1 {
		margin-bottom: 2rem;
	}
  h3 {
    text-align: center;
  }
}
