// Layout
$header-width: 1280px; // Maximum width of the top nav bar
$max-container-width: 1280px; // Maximum width of content
$content-width: 50rem; // Preferred content width

// Responsive
$mobile-breakpoint: 850px;
$responsive-padding: 1rem;

// Visual design
$border-radius: 0.5rem; // A consistent border radius to be used throughout the site

// Colours
$color-dark: #000;
$color-light: #fff;
$color-dark-grey: rgb(30, 30, 30);
$color-blue: #33f;
$color-yellow: #ff0;

// Type
$font-stack: "Inter", "-apple-system", "system-ui", "BlinkMacSystemFont",
	sans-serif;
$font-stack-mono: "SFMono-Regular", "Menlo", "Inconsolata", "Consolas",
	"Liberation Mono", monospace;

@mixin underline-link {
	text-decoration-color: $color-blue;
	text-decoration-line: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 0.4rem;

	@include breakpoint(375px) {
		text-underline-offset: auto;
	}
}

@mixin underline-h1 {
	text-decoration-color: $color-yellow;
	text-decoration-line: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 0.6rem;

	@include breakpoint(375px) {
		text-underline-offset: auto;
	}
}

@mixin breakpoint($point) {
	@if $point == 375px {
		@media (max-width: 375px) {
			@content;
		}
	}
}
