.hero {
  p {
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  max-width: $content-width;
  padding: 1em 0;
}

.project-flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  a {
    text-decoration: none;
  }

  .project-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;

    .project-block__image {
      display: none;
      max-width: 100%;
      grid-column: 4 / 5;
      grid-row: 1/4;
    }

    &:hover {
      .project-block__image {
        display: block;
      }
    }

    img {
      border: none;
    }

    .project-block--title,
    .project-block__tags,
    .project-block__description {
      grid-column: 1 / 5;
    }

    .project-block--title {
      margin: 0;
    }

    .project-block__description {
      margin: 1rem 0;
    }

    position: relative;
    margin-bottom: 3rem;

    &::before {
      content: '';
      position: absolute;
      width: 95%;
      height: 100%;
      top: 2%;
      left: calc(5% / 2);
      transform: translateZ(-1px);
      border-radius: 1rem;
    }

    .project-block__content {
      //      padding: 1rem;
      max-width: 40rem;
    }
  }
}
