.hero {
	p {
		// TODO replace with a type variable
		font-weight: 300;
		font-size: 2rem;
		line-height: 2.5rem;
	}

	max-width: $content-width;
	padding: 1em 0;
}

.project-flex-container {
	display: flex;
	flex-direction: column;

	a {
		text-decoration: none;
	}

	.project-block {
		margin-bottom: 3rem;

		.project-block--title {
			margin: 0;
		}

		.project-block__description {
			max-width: $content-width;
			//     grid-row: 3;
			margin: 1rem 0;
		}

		&::before {
			content: "";
			position: absolute;
			width: 95%;
			height: 100%;
			top: 2%;
			left: calc(5% / 2);
			transform: translateZ(-1px);
			border-radius: 1rem;
		}

		.project-block__content {
			//      padding: 1rem;
			max-width: 40rem;
		}
	}
}
