.about-container {
	display: flex;

	> * {
		flex: 1 0 50%;
	}

	p {
		margin-right: 3rem;
	}

	img {
		margin: auto;
	}
}

.resume {
	.resume__responsibilities {
		margin-bottom: 4rem;
	}

	.resume__context {
		@include type-level-4;

		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		min-height: 4rem;

		.resume__date {
			text-align: right;
		}

		& > * {
			align-self: flex-end;
			flex: 1 0 50%;
		}

		h3 {
			margin: 0;
		}
	}
}

@media all and (max-width: $mobile-breakpoint) {
	.about-container {
		flex-direction: column;
	}

	.about__photo {
		display: none;
	}

	.resume {
		.resume__context {
			flex-direction: column;
			height: auto;
			justify-content: auto;

			& > * {
				width: 100%;
			}

			.resume__date {
				order: 3;
				// move the date underneath the title and company
				text-align: left;
			}
		}
	}
}
