.about-container {
	display: flex;

	> * {
		flex: 1 0 50%;
	}

	p {
		margin-right: 3rem;
	}

	img {
		margin: auto;
	}
}

.resume {
	h3,
	h4 {
		margin: 0 auto;
	}

	.resume__item {
		margin: 2rem 0 3rem;
	}

	.resume__subtitle {
		@include type-level-4;
	}
}
