.project-overview {
	margin-bottom: 5rem;

	.project-overview__title {
		margin: 0 0 1rem;
	}

	.project-overview__image {
		margin: 0;
		max-width: 100%;
	}

	.project-overview__summary {
		max-width: $content-width;
		padding-right: 2rem;
	}
}

.project-overview__main {
	display: flex;

	> * {
		flex: 0 1 50%;
	}
}

.project-overview__context {
	display: flex;
	flex-wrap: nowrap;

	div {
		flex: 0 1 25%;
		padding-right: 2rem;
	}
}
