.featured-block-container {
  display: flex;
  flex-direction: column;
}

.featured-block,
.featured-block__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.featured-block {
  a {
    color: $color-white;
  }

  .featured-block--name {
    // TODO: change -- to __
    @include type-level-3;

    margin-left: 1rem;
    margin-bottom: 0.25rem;
  }

  .featured-block--item-title {
    // TODO: change -- to __
    font-size: 1rem;
    font-weight: 600;
    min-width: 0;
  }

  .featured-block__content {
    background-color: $color-dark-grey;
    border-radius: $border-radius;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: $shadow-dark;
  }

  .featured-block--name,
  .featured-block--item-title {
    // TODO: change -- to __
    flex: 1 1 50%;
  }

  .featured-block--see-all {
    // TODO: change to 'small' mixin
    // and change -- to __
    margin-right: 1rem;
    text-transform: uppercase;
  }

  .featured-block--see-all,
  .featured-block--context {
    // TODO: change -- to __
    flex: 1 0 25%;
    text-align: right;
  }

  .featured-block--text {
    @include type-level-content;

    margin-bottom: 0;
  }
}
