footer {
  margin-top: 4rem;
  padding: 2rem;
  background-color: $color-dark;
  color: $color-white;

  h2 {
    margin-top: 0;
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: $max-container-width;
  margin: auto;

  section {
    flex: 1 0 50%;
    max-width: 48%;
  }
}
