.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 4.2em;
  margin: auto;
  max-width: $max-container-width;
  background-color: $color-white-transparent;
  padding: 0.5rem 2rem 0;
  z-index: 20;
  backdrop-filter: blur(4px);
  // box-shadow: rgba(0, 0, 0, 0.02) 0 2px 4px;
  border-bottom: $black-border;
}

.navbar,
.navbar-end,
.navbar-menu,
.navbar-start {
  align-items: baseline;
  display: flex;
}

.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;

  a {
    text-decoration: none;
  }

  #logo-icon {
    margin-right: 0.5em;
  }

  #logo-text {
    color: #000;
    font-size: 2em;
    font-weight: 700;
  }
}

.navbar-menu {
  flex-grow: 1;
  flex-shrink: 0;

  .navbar-item.active--exact {
    border-bottom: 1px solid $color-blue;
  }
}

.navbar-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 1.5rem;
  position: relative;
  color: #000;
  text-decoration: none;
}

.navbar-end {
  justify-content: flex-end;
  margin-left: auto;

  .navbar-item {
    margin: 0.5em;
  }

  .navbar-item:last-of-type {
    padding-right: 0;
  }
}

.mobile-menu {
  cursor: pointer;
  display: none;
  // height: 3.25rem;
  position: relative;
  // width: 3.25rem;
  margin-left: auto;
  top: 0.5em;
  height: fit-content;
  padding: 0.5em;
  border: 1px solid black;
  font-weight: bold;
}
