.featured-block-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;
}

.featured-block {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	max-width: $content-width;

	&:last-of-type {
		margin-bottom: 0;
	}

	h4 {
		margin-top: 0;
	}
}

.featured-block__name {
	@include type-level-3;
}

.featured-block__content {
	border: 2px solid $color-blue;
	margin-top: 1rem;
	padding: 1rem;
	text-decoration: none;
}

.featured-block__item-title {
	@include type-level-4;
}

.featured-block__text {
	@include type-level-content;

	margin: 0;
}
