.navbar {
	background: $color-dark;
	left: 0;
	margin: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 20;

	@include breakpoint(small) {
		// Move the navigation to the bottom on small screens
		top: auto;
		bottom: 0;

		.button--primary {
			width: 100%;
		}
	}
}

.navbar,
.navbar-end,
.navbar-menu,
.navbar-start {
	align-items: baseline;
	display: flex;
}

.navbar-brand {
	align-items: stretch;
	display: flex;
	flex-shrink: 0;
	min-height: 3.25rem;

	a {
		text-decoration: none;
	}

	@include breakpoint(small) {
		width: 100%;
	}
}

.navbar-menu {
	flex-grow: 1;
	flex-shrink: 0;

	.navbar-item.active--exact:not(.button--primary) {
		// Add an underline to the current page in the navigation
		border-bottom: 2px solid $color-blue;
	}

	@include breakpoint(small) {
		display: none;
	}
}

.navbar-item {
	align-items: center;
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	line-height: 1.5rem;
	position: relative;
	text-decoration: none;
}

.navbar-end {
	justify-content: flex-end;
	margin-left: auto;

	.navbar-item {
		// Space out the navigation items
		margin: 0.5em;
	}

	.navbar-item:last-of-type {
		// Align the last navigation item to the right edge of the container
		margin-right: 0;
	}
}

.navbar.is-active {
	display: block;

	.navbar-end,
	.navbar-menu,
	.navbar-start {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: baseline;

		.navbar-item {
			margin-left: 0;
		}
	}
}

.mobile-menu {
	// The menu button on mobile
	cursor: pointer;
	display: none;
	height: fit-content;
	margin-left: auto;
	padding: 0.5em;
	position: relative;
	top: 0.5em;

	@include breakpoint(small) {
		display: inherit;
	}
}
